{% extends "base.html" %}

{% block title %}
    博客内容
{% endblock %}

{% block content %}
    <div class="row text-center vertical-middle-sm">
        <h1>{{ article.title }}</h1>
    </div>

    <div class="row">
        <div class="col-xs-12 col-mo-8">
            <div>
                <p>{{ article.author.username }}</p>
                <p>{{ publish }}</p>
                <p>{{ article.body }}</p>
            </div>
        </div>
        <div class="col-xs-6 col-mo-4">
            <h2>广告</h2>
            <p>和我一起学python</p>
        </div>
    </div>
{% endblock %}